
.order-by-container{
  position: fixed;
  bottom:0;
  left:0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  background: $white;
  height: 80px;
}

.order-by__items-container{
  display: flex;
  justify-content: space-around;
}

.order-by-anchor{
  color: $dark-grey;
  text-decoration: none;
}

.filter-container{
  text-align: center;
}

.input-filter{
  margin-top: 6px;
  width: 90%;
  height: 20px;
  border: solid 2px $grey;
}