
.pokemon-detail{
  padding-top: 10px;
  width: 100%;
}
.detail-top{
  display: inline-block;
}
.first-half{
  width: 45%;
  box-sizing: border-box;
}
.second-half{
  width: 55%;
}


.pokemon-detail__image{
  width: 70px;
  height: 70px;
  padding-left: 9px;
  padding-top: 10px;

  &-container{
    border: solid 3px $grey;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    box-sizing: border-box;
    margin-left: 25%;
  }
}

.general-info{
  width: 100%;
  border-spacing: 10px;
}

.table-title{
  color: $grey;
  text-align: right;
}

.table-text{
  color: $dark-grey;
  text-align: left;
}

.abilities-text{
  text-transform: uppercase;
}

.pokemon-type{
  color: $white;
  font-size: 12px;
  margin-right: 5px;
  &:last-child{
    margin: 0;
  }
  padding: 4px;

  &.water{
    background-color: #60B2E3;
  }
  &.flying{
    background-color: #BCB5D9;
  }
  &.electric{
    background-color: #FAE8A4;
  }
  &.psychic{
    background-color: #F38EBA;
  }
  &.normal{
    background-color: #BBBC95;
  }
  &.dragon{
    background-color: #7876B6;
  }
  &.fire{
    background-color: #F6A684;
  }
  &.rock{
    background-color: #B8A038;
  }
  &.ground{
    background-color: #E0C068;
  }
  &.grass{
     background-color: #78C850;
  }
  &.fighting{
    background-color: #AD4640;
  }
  &.poison{
    background-color: #9C569C;
  }
  &.bug{
    background-color: #A4AD53;
  }
  &.ghost{
    background-color: #776596;
  }
  &.dark{
    background-color: #695C54;
  }
  &.steel{
    background-color: #B8B8D0;
  }
  &.ice{
    background-color: #98D8D8;
  }
  &.fairy{
    background-color: #E8A5E8;
  }

}